            </td>
          </tr>
          <tr>
            <td style="padding:16px 32px;background:#fafafa;color:#71717a;font-size:12px;">
              This is an automated message from <%= storeName %>. Please do not reply directly to this email.
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
